<!doctype html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src="../static/js/index.js"></script>
  </head>

  <body>
    <img class="img-responsive background-image" src="../static/img/background.jpg" usemap="#subscribeArea" />
    <map name="subscribeArea" id="subscribeArea">
      <area shape="poly" coords="249,125,243,291,627,304,633,137" href="/register" alt="Subscribe Button"></area>
    </map>
    <div class="help-text">Click Here To Subscribe</div>
    <img class="curly-arrow" src="../static/img/curly-arrow.svg" />
    <div class="container">
      <div class="row">
	<div class="col-12 vert-offset">
	  <center>
	    <h2>Inbox Cleaner</h2>
	    <h6>Get Rid of "Lost & Found" Mails from your Google Inbox!</h4>
	  </center>
	</div>
      </div>
    </div>
  </body>
</html>
